<div class="jumbotron jumbotron-fluid mt-3">
    <div class="container text-center">
      <h1 class="display-4">Bienvevenido al foro</h1>
      <p class="lead">Haz tus preguntas y ayuda a otros programadores como tu.</p>
      <a class="btn btn-secondary mr-3" [routerLink]="['/topics']">Ver temas</a>
      <a class="btn btn-success mr-3" [routerLink]="['/users']">Ver compañeros</a>
      <a class="btn btn-warning mr-3" [routerLink]="['/panel/add']">Añadir un nuevo tema</a>

    </div>
  </div>
