<div *ngIf="!topic">
    <img src="/assets/loader.gif" class="loader" alt="">
</div>
<div *ngIf="topic">
    <div *ngIf="topic" class="mt-3 col-9">
        <h2>{{topic.title}}</h2>
        <span class="badge badge-warning p-2 mr-3" *ngIf="topic.lang">
            {{topic.lang}}
        </span>
        <span class="badge badge-info p-2 mr-3">
            {{topic.user.name +" "+ topic.user.surname}}
        </span>
        <span class="badge badge-light p-2 ml-2">
            {{topic.date | amLocale: "es" | amTimeAgo}}
        </span>
    
        <p class="mt-3">{{topic.content}}</p>
        <div *ngIf="topic.code && topic.lang " class="mt-3">
            <ngx-highlight-js lang="{{topic.lang | lowercase}}"
                code="{{topic.code}}">
            </ngx-highlight-js>
        </div>
        
    </div>
    
    <div class="col-9">
        <h4>Comentarios</h4>
        <p *ngIf="comment_status == 'success'" class="alert alert-success">Comentario publicado exitosamente</p>
        <p *ngIf="comment_status == 'error'" class="alert alert-danger">Error al comentar </p>
    
        <form action="#" #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)" *ngIf="identity">
            <div class="form-group">
                <label for="content">Contenido:</label>
                <input type="text" name="content" class="form-control" #content="ngModel" [(ngModel)]="comment.content" 
                required>
    
                <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
                    El contenido no es valido
                </small>
            </div>
    
            <input type="submit" class="btn btn-success" value="Enviar" [disabled]="commentForm.invalid">
        </form>
    
        <ul class="list-group my-3"  *ngIf="topic">
            <li class="list-group-item mt-3" *ngFor="let comment of topic.comments">
                
                <img src="{{url+'avatar/' + comment.user.image}}" class="profile-image float-left"   *ngIf="comment.user.image" alt="">
                <img src="/assets/profile-image.png"  class="profile-image float-left" *ngIf="!comment.user.image"  alt="">
                
                <div class="float-left ml-3 mt-2 " >
                    <span class="badge badge-info p-1 mr-2 float-left d-block">
                        {{comment.user.name +" "+ comment.user.surname}}
                    </span>
                    <span class="badge badge-light  float-left">
                        {{comment.date | amLocale: "es" | amTimeAgo}}
                    </span>
                    <div class="clearfix"></div>
                    <p class="mt-2">{{comment.content}}</p>
                </div>
                <div class="clearfix"></div>
                <a (click)="deleteComment(comment._id)" class="btn btn-danger float-right d-block" *ngIf="identity && identity._id == comment.user._id">Borrar</a>
            </li>
           
        </ul>
    </div>
</div>


